.add-to-cart {
  margin-bottom: 10px;
  .add-button {
    margin: var(--gutter-content) 0;
  }
}
.quantity-input {
  display: flex;
  font-size: 16px;
  font-weight: 400;
  color: #000;
  overflow: hidden;
  margin-bottom: 10px;
  gap: 10px;
  input {
    text-align: center;
  }
}

.quantity-button {
  user-select: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1.5px solid #cccccc;
  border-radius: 3px;
  height: 48px;
  width: 48px;
  min-width: 48px;
  color: #333333;
  font-size: inherit;
  box-sizing: border-box;
  background-color: #ffffff;
  overflow: hidden;
  &:active,
  &:focus,
  &:hover {
    border-color: #333333;
  }
}
