.comment-card {
  display: flex;
  gap: 20px;
  width: 100%;
  padding: 40px 0;
  border-bottom: 1px solid #eaeaea;
  .user-info {
    display: flex;
    font-size: 16px;
    gap: 15px;
    width: 200px;
  }
  .comment-info {
    flex: 1;
    .rate-date {
      display: flex;
      justify-content: space-between;
      margin-bottom: 20px;
      .date {
        font-size: 14px;
      }
    }
    .comment-content {
      font-size: 16px;
    }
  }
}
