.review-form-modal {
  * {
    font-size: 16px;
  }
  .title {
    font-size: 18px;
    text-align: center;
    margin: 20px;
  }
  .ant-form-item-label label {
    font-size: 16px;
    font-weight: 600;
  }
  .button-submit {
    display: flex;
    justify-content: center;
    button {
      width: 150px;
    }
  }
  .ant-form-item {
    margin-bottom: 40px;
  }
}
