.public-layout_header {
  .announcement-bar {
    padding: 0 var(--gutter-content);
    background-color: #fdecec;
    font-size: 14px;
    line-height: 1.4em;
    color: $color-text-gray;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 8px;
    border-radius: 5px;
    transition: background 500ms cubic-bezier(0.06, 0.67, 0.58, 1);
    &_left {
      flex: 2 0 0;
      font-size: 18px;
      display: flex;
      align-items: center;
      gap: 1.5rem;
    }
    &_midle {
      max-width: 50%;
      flex: 1 1 auto;
      text-align: center;
      padding: 0 30px;
      margin: 0.8rem 0;
      font-size: 13px;
      font-weight: 300;
    }
    &_right {
      flex: 2 0 0;
      text-align: end;
    }
  }
  .page-header_wrapper {
    padding-top: 8px;
    &.is-sticky {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      z-index: 999;
      background-color: transparent;
      animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
      padding-bottom: 0px;
      .page-header {
        padding: 0 16px;
        max-width: var(--max-width);
        margin: auto;
      }
      .page-header_inner {
        box-shadow: 1px 1px 12px 0 rgba(0, 0, 0, 0.1);
        background-color: #fff;
        border-radius: 5px;
      }
    }
  }
  .page-header_inner {
    display: flex;
    align-items: center;
    top: 0;
    justify-content: space-between;
    padding: 0 var(--gutter-content);
    .navbar-item {
      cursor: pointer;
    }
    .logo {
      img {
        width: 150px;
        padding: 10px 0;
      }
    }
    .category {
      display: flex;
      gap: 5px;
      &-item {
        cursor: pointer;
        padding: 6px 18px;
        font-size: 14px;
        color: $color-text-gray;
        text-transform: capitalize;
        border-radius: 5px;
        transition: background 100ms ease-out;
        &:hover {
          background: rgba(0, 0, 0, 0.05);
        }
      }
    }
    .page-header_right {
      display: flex;
      align-items: center;
      gap: 20px;
    }
  }
}
.signup-form {
  .form-item.gender {
    display: flex;
    gap: 15px;
    .gender-option {
      display: flex;
      align-items: center;
      gap: 5px;
    }
  }
}
.category-item.active:not(.all),
.category-item.all-active {
  background: rgba(0, 0, 0, 0.05);
}
