.d-flex {
  display: flex;
}

.gap-20 {
  gap: 20px;
}
.gap-10 {
  gap: 10px;
}
.justify-content-center {
  justify-content: center;
}
.justify-content-space-between {
  justify-content: space-between;
}
.align-items-center {
  align-items: center;
}
