:root {
  // color
  --primary-color: #e7721b;
  --color-border: #e6e6e6;
  --light: #999999;
  --border: #e6e6e6;
  --text: #323232;
  --black: #000;
  --bg: #fafafa;

  // width
  --max-width: 1320px;
  --gutter-content: 30px;
}

html,
body {
  font-size: 15px;
  font-family: $lato, sans-serif;
  line-height: 1.6;
  color: $color-text-gray-1;
  -webkit-font-smoothing: antialiased;
  #root {
    height: 100%;

    .App {
      height: 100%;
    }
  }
}

* {
  margin: 0;
  box-sizing: border-box;
  font-family: $lato, sans-serif;
  font-size: 15px;
}

a {
  text-decoration: none;
  color: inherit;
}

.page-title {
  background-color: #f0f0f0;
  padding: 0 30px;
  height: 200px;
  display: flex;
  align-items: center;

  h1 {
    width: 100%;
    max-width: 1290px;
    margin: auto;
    font-size: 64px;
    font-weight: 500;
  }
}
.main-container {
  max-width: var(--max-width);
  margin-left: auto;
  margin-right: auto;
  padding-left: 8px;
  padding-right: 8px;
}
.public-layout-content {
  min-height: calc(100vh - 250px);
}
body {
  --sb-track-color: #ffffff;
  --sb-thumb-color: #fdd4e2;
  --sb-size: 12px;
}

::-webkit-scrollbar {
  width: var(--sb-size);
}

::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 20px;
}

::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 20px;
}
@supports not selector(::-webkit-scrollbar) {
  body {
    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
  }
}
