.ant-checkbox {
  &.ant-checkbox-checked .ant-checkbox-inner {
    background-color: var(--primary-color) !important;
    border-color: var(--primary-color) !important;
  }
}
.ant-checkbox-indeterminate .ant-checkbox-inner:after {
  background-color: var(--primary-color);
}
