.ant-rate {
  color: #e7721b;
  font-size: 12px;
  svg {
    width: 28px;
    height: 28px;
    transition: fill 100ms;
  }
}
.romand-rate {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  .star-wrapper {
    display: flex;
    gap: 10px;
  }
  svg {
    transition: fill 100ms;
  }
}
