.cart {
  .title {
    margin-bottom: 20px;
  }
  .total {
    display: flex;
    margin-top: 20px;
    margin-right: 30px;
    align-items: center;
    justify-content: end;
    gap: 20px;
    .total-amount {
      .amount {
        color: var(--primary-color);
      }
      h2 {
        font-size: 16px;
      }
      h1,
      h1 span {
        font-size: 24px;
      }
    }
    .app-button {
      width: 200px;
      text-align: center;
      justify-content: center;
      font-size: 14px;
      padding: 10px 36px;
      border-radius: 8px;
    }
  }
}
.cart-table {
  .product-info {
    display: flex;
    gap: 10px;
    img {
      width: 80px;
      height: 80px;
      object-fit: contain;
    }
    .product-option {
      color: var(--light);
    }
  }
  &.ant-table-wrapper {
    .ant-table-tbody > tr.ant-table-row-selected > td {
      background-color: unset;
    }
    .product-qty-input {
      gap: 0 !important;
      button {
        border-radius: 0;
        width: 32px;
        padding: 4px 10px;
      }
      input {
        width: 50px;
        text-align: center;
        border-radius: 0;
        height: 32px;
      }
    }
    .product-total {
      color: var(--primary-color);
      font-weight: 600;
    }
  }
}
