.profile-form {
  display: flex;
  justify-content: space-between;
  gap: 10%;
  .profile-avatar {
    flex: 1;
    .app-button {
      margin-left: 27px;
    }
    .ant-avatar {
      border: 2px solid var(--color-border);
      margin-bottom: 15px;
    }
  }
  .profile-text-info {
    margin-top: 20px;
    width: 60%;
    label {
      font-size: 16px;
    }
    input {
      margin-top: 5px;
    }
    .input-item.email {
      color: var(--text);
      margin-bottom: 15px;
    }
    .app-button {
      margin-top: 15px;
    }
  }
}
