.account-page {
  width: 100%;
  background-color: #f5f5f5;
  min-height: calc(100vh - 289px);
}

.account-page-container {
  max-width: 1200px;
  margin: auto;
  display: flex;
  padding: 20px 0 50px;
}
.account-page-children {
  margin-left: 27px;

  min-height: 100%;
  width: 100%;
}
