.product-detail {
  padding: 0 15px;
  margin: 0px auto 30px;

  .product-detail-content {
    display: flex;
    justify-content: center;

    .product-detail_image {
      width: 45%;
      img {
        width: 100%;
      }
      .product-image {
        border-radius: 8px;
      }
    }
  }
  .comment-container {
    h1 {
      text-align: center;
      font-size: 20px;
      margin-bottom: 70px;
      margin-top: 70px;
    }

    .comment-list {
      margin-top: 20px;
      display: flex;
      flex-direction: column;
      gap: 30px;
      align-items: center;
    }
    .review-form-wrapper {
      max-width: 850px;
      margin: auto;
      margin-top: 30px;
    }
  }
}

.product-detail-information {
  padding: 48px 44px;
  width: 45%;
  .title {
    font-size: 36px;
    margin-bottom: 10px;
  }

  .after-title {
    padding-bottom: 16px;
    border-bottom: 1px solid var(--color-border);
    margin-bottom: 23px;
    display: flex;
    align-items: center;
    gap: 15px;
  }

  .price {
    font-size: 23px;
    font-weight: 600;
    color: $color-text-gray-1;
  }

  .description {
    color: var(--text);
    line-height: 24px;
    margin-bottom: 20px;
  }

  .quantity {
    padding: 25px 0;
    p {
      font-size: 15px;
      font-weight: 600;
      margin-bottom: 10px;
    }
  }
  .ant-rate-text {
    font-size: 16px;
    font-weight: 600;
  }
  .product-options {
    display: block;
    &_name {
      font-size: 15px;
      margin-bottom: 8px;
    }
    &_items {
      display: flex;
      gap: 10px;
    }
    .product-options_item {
      width: 26px;
      height: 26px;
      box-shadow: 0 0 0 3px var(--bg, #ffffff), 0 0 0 4px rgba(50, 50, 50, 0.3);
      padding: 3px;
      &:hover,
      &.active {
        box-shadow: 0 0 0 3px var(--bg, #ffffff), 0 0 0 4px rgba(50, 50, 50, 1);
      }
    }
  }
  .category {
    margin-bottom: 20px;
  }
  .description-container {
    p {
      margin-top: 20px;
      color: var(--text);
      font-size: 16px;
    }
  }
}
